body{
	margin: 0;
}

.navbar{
	margin: 0;
	padding: 20px;
	
	text-align: center;
}
.navbar-item{
	display: inline;
}
.navbar-link{
	margin-right:  72px;	
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	color: #FF0000;
	letter-spacing: 2.7px;
	text-transform: uppercase;

}


.banner{
	width: 100%;
}
.main{
	text-align: center;
	
}
.banner-text{
	font-weight: bold;
	font-size: 22px;
	
	letter-spacing: 3.3px;
	text-transform: uppercase;
	color: #373737;
}
.text{

	margin: 28px 65px;
	
	font-size: 16px;
	line-height: 26px;
	
	letter-spacing: 2.4px;
	color: #373737;
}

.button{

	width: 191px;
	height: 51px;
	background: #FF0000;
	border-radius: 10px;
}
.btn-name{
	color: #FFFFFF;
}
footer{
	margin-top: 60px;
	padding: 29px 0;
	text-align: right;
}
.footer-text{

	margin-right: 105px; 
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 2.4px;
	color: #373737;
}