body{
    background-color: slateblue;
}
.header-menu{
    
    width: 100%;
    height: 70px;
    background-color: olive;
}
.background-text{
    color: violet;
}
.btn{
    background-color: violet;
}
.background{
    background-color: slateblue;
}