*,*::before,*::after{
    box-sizing: border-box;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.logo{
    display: inline-block;
    vertical-align: middle;
    color: #000000;
    margin-top: 61px;
    margin-bottom: 38px;
    line-height: 94px;
    text-decoration: none;
    font-size: 80px;
}
.colortext{
    color: #5599f5;
}
.header-menu{
    background-color:  #35444F;
    text-align: center;
    margin-bottom: 50px;
}
.header-menu-item{
    display: inline-block;
}
.header-menu-link{
    display: block;
    padding: 25px 35px 19px;
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    border-left: 1px solid #ffffff;
}
.main-content{

display: flex;
justify-content: space-between;
margin-top: 50px;
}
.first-block-menu{
    display: inline-block;
    vertical-align: middle;
    width: 344px;
    border: 1px solid black;
    list-style: none;
    padding-inline-start: 0px;
    margin: 0;

}
.main-menu-items{
    text-decoration: none;
    color: black;  
}
.main-menu-link{
    font-size: 27px;
    padding: 20px 0   20px 44px;
   
    
    display: block;
    text-decoration: none;
    color: #485863;
}
.main-menu-items:hover{
    background-color: #DBDBDB;
    
  

}
.main-menu-items:hover .main-menu-link{
    color: #35444F;
    padding: 20px 0  20px 80px;
   
}
.second-block{
    width: 885px;
}
.main-image-center{
    height: 529px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    display: block;
    width: 320px;
    height: 381px;
}
.main-image-center:hover .image{
    transition: 0.7s;
    width: 369px;
    height: 460px;
}
.footer{
    margin-top: 54px;
    margin-bottom: 30px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color:  rgba(99, 105, 110, 0.48);
}
.footer-menu{
    list-style: none;
}
.footer-menu-items{
    color: black;
   
    font-size: 28px;
    display: inline;
}
.copyright{
    color: #010101;
    text-align: center;
    font-size: 24px;
}
.footer-menu-link{
    padding: 20px 15px;
    display: inline-block;
    text-decoration: none;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}
.header-menu-item:hover{
    background: #222F3A;
}
.footer-menu-items:hover .footer-menu-link{
    color: #3181A6;
   border-bottom: 1px solid #3181A6;
}