.modal {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position: relative;;
    background: lightblue;
    width: 40%;
    height: 500px;
    top:50%;
    left:50%;
    margin-top: -250px;
    margin-left: -20%;
  
  }
  .btns{
    display: flex;
    justify-content: space-evenly;
  }
  .text{
    font-size: 30px;
  }