.product-container{
  -webkit-box-shadow: -2px -3px 19px 6px rgba(93, 56, 212, 0.41);
  -moz-box-shadow: -2px -3px 19px 6px rgba(93, 56, 212, 0.41);
  box-shadow: -2px -3px 19px 6px rgba(93, 56, 212, 0.41);
}