*{
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;

  box-sizing: border-box;
}
body{
  background-color: darkslategray; 
}
.container{
  background-color: darkslategray;
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 30px auto;
  border-radius: 10px;
  max-width: 1400px;
}
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-list{
 display: flex;
flex-wrap: wrap;
justify-content: center;

}