.card-img{
    width: 200px;
    height: 100px;

}

.wrapper{
    display: flex;
    width: 250px;
    margin: 10px;
    margin-bottom: 70px;
    flex-direction: column;
    border: 4px solid coral;
    border-radius: 6%;

}
span{
    cursor: pointer;
}