*,*::after,*::before{
	box-sizing: border-box;
}
*{
	margin:0;
	padding: 0;
}
.page-body{
	margin-top: 51px;
	background-image: url(img/background.png);
	background-position: center;
	
	background-size: cover;  
	background-repeat: no-repeat;
}
.page-header{
	width: 1030px;
	margin-left: auto;
	margin-right: auto;  
}

.list-wrapper{
	list-style: none;     
}
.info-wrapper{
	list-style: none;  
}
.holidays{
	font-size: 18px;
}
.header-link{
	text-decoration: none;   
}

.list-item{   
	background-image: url(img/logo-milan.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 57px;
}
.milan-nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.milan{
	text-transform: uppercase;
	margin-left: 70px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 29px;
	display: flex;
	flex-direction: column;
}
.info-wrapper{
	margin: 0;
}

.info-email{
	text-decoration: none;
	font-size: 18px;
	color: #FFFFFF;
}
.info-tel{
	text-decoration: none;

	font-size: 18px;
	color: #FFFFFF;
}
.tel{
	margin-left: 65px;
	margin-top: 22px;
	padding: 0;
}
.main-content{
	width: 1030px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 22px;

}
.block-link{
	text-decoration: none;
}
.block-link-img{

}
.block-link-text{
	color: #FFFFFF;
	margin-top: 10px;
	text-align: center;
	font-size: 18px;
}

.list-item-block{
	position: relative;
	width: 300px;
	height: 220px;
}
.content-items{
	list-style: none;
	display: grid;
	grid-gap: 61px;
	grid-template-columns: 1fr 1fr 1fr;
}
.hover-block{
	width: 297px;
	height: 55px;
	display: none;
	background-color: #F26522 ;
	position: absolute;
	bottom: 0;
	left: 2px;
}
.list-item-block:hover .hover-block{
	display: flex;
	justify-content: space-between;
}
.list-item-block:hover .block-link-text{
	color: #F26522;
}
.block-link-img{
}
.list-item:hover .milan{
	color: #F26522;
}
.list-item:hover {
	background-image: url(img/logo-hover.png);
	background-repeat: no-repeat;
}
.email:hover{
	color: #F26522;
}
.tel:hover{
	color: #F26522;
}
.hover-block-text-cost{   
	font-size: 20px;
	margin-top: 8px;
	margin-left: 0;
	color:#FFFFFF;
}
.hover-block-text{
	display: flex;
	flex-direction: column;
	margin: 7px 16px;
	font-size: 10px;
	color:#FFFFFF;
}
.pseudo-element{
	font-size: 14px;
	color:  #FFFFFF;
	margin-right: 20px;
	margin-top: 29px;
}
.pseudo-element::after{
	content:  url(img/vector.png);
	display: inline-block; 
	padding-left: 16px;  

}
.page-footer{
	display: flex;
	justify-content: center;
	margin-top: 90px;
	margin-bottom: 15px;
}
.footer-text{

	font-size: 12px;
	color: #FFFFFF;
}
