.page-body{
    background-color: lightblue;
}
.form-container{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.value-text{
    display: flex;
}
.canc{
    margin-left: 10px;
}
