*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', "Arial" , sans-serif;
}

.page-body{
    background: url(img/background.png) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.page-header{
    background: rgba(0, 0, 0, 0.4);
    height: 58px;
    display: flex;
}
.page-title{
    font-size: 22px;
}
.menu-links{
    font-size: 14px;
}
.link{
    text-decoration: none; 
    color:  #ffffff; 
}
.menu-item{
    color: #ffffff;
     margin-top: 5px;
}
.icon-container{
    display: flex;
    justify-content: center;
    align-self:center;
}
.icon-container:hover .icon{
    fill: #3CB878;
}
.sign-up:hover{
    color: #3CB878;
}
.log-in:hover{
    color: #3CB878;
}
.menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 79px;
    width: 100%;
}
.title-link{
    text-transform: uppercase;
    margin-left: 79px;
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
}
.page-nav{
    display: flex;
    align-items: center;
    width: 100%;
}
.page-title:hover{
    color:  #3CB878;
}
.menu-item-logo1{
    margin-left: 24px;
    width: 30px;
    height: 30px;
}
.menu-item-logo2{
    margin-left: 27px;
    width: 30px;
    height: 30px;
}
.menu-item-logo3{
    margin-left: 24px;
    width: 30px;
    height: 30px;
}
.first-logo{
   padding-right: 27px;
}
.container{
    margin-top: 6px;
    margin-left: auto;
    display: flex;
}

.line{
    margin-top: 5px;
    margin-right: 27px;
    margin-left: 25px;
}
.page-form{  
    top: 50%;;
    transform: translate(0,-50%);
    position: absolute;
    margin-top: 54px;
    margin-bottom: 74px;
    width: 444px;
    background-color: #ffffff;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container{
    margin-top: 31px;
    margin-bottom: 38px;
    margin-left: 61px;
    margin-right: 61px;
}
.shape{
    position: absolute;
    top: 32px;
    left: 0;
}
.form-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-title{
    font-size: 20px;
    color: #434343;
}
.form-log-in{
    text-decoration: none;
    color: #3CB878;
    font-size: 14px;
}
.form-log-in:hover{
    text-decoration: underline;
}
.buttons{
    min-width: 100%;
    margin-top: 15px;
    display: flex;
    height: 48px;
    justify-content: space-between;     
}
.facebook{
    text-decoration: none;
    margin-right: 2px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #305DB8;
    border-radius: 4px;
}
.facebook:hover{
    background-color:  #294F9D;
}
.google:hover{
    background-color:  #C6422C;
}
.facebook-logo{
     padding: 10px 18.77px 10px 16.77px;
    color: #ffffff;
    font-size: 32px;  
}
.facebook-text{
    padding: 5px 22px 5px 18px;
    font-size: 16px;
    color: #ffffff;
}
.google{  
    text-decoration: none;
    color: #ffffff;
    align-items: center;
    margin-left: 2px;
    display: flex;
    border-radius: 4px;
    background-color: #DF4A32;

}
.google-logo{
    padding: 15px 7px 14px 12px;
    font-size: 30px;
    align-items: center;
}
.google-logo::after{
    content: "+";
    display: inline;
    vertical-align: 3px;
    font-size: 20px;
}
.google-text{
   padding: 17px 27px 17px 27px;
}
.pseudo-text{
    text-align: center;
    color: #848484;
    margin-top: 31px;
}
.pseudo-text::before, .pseudo-text::after{
    content: url(img/horyzontal.png);
    height: 1px;
    vertical-align: 3px;
    
}
.forms:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.forms{
     
    margin-top: 11px;
    border: 1px solid #F2F2F2;
    width: 303px;
    border-radius: 4px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px; 
}
.checkbox{
    display: none;
}

.checkmark::before{
    border: 1px solid #F2F2F2;
    content: "";
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    width: 20px;
    height: 20px;
   
}
.checkbox:checked + .checkmark::before{
    text-align: center;
    align-items: center;
    content: url(img/checkmark.png);

}
.checkbox-container{
    margin-top: 12px; 
}
.account-btn{
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 16px 0 16px 0;
    margin-top: 20px;
}
.account-btn:hover{
    background-color:  #3CB878;
}
.terms{
    color:#3CB878;
    text-decoration: none;
}
