.nav{
  &__menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;

  }
}
.menu{
  &__link{
    margin: 10px 20px 10px 20px;

  }

}
.link{
  color: #d8c9ff;
  text-decoration: none;
  font-size: 25px;
}
