
.container {
    position: relative;
}

.perspective-block {
    perspective: 3px;
    overflow: hidden;
    height: 100vh;
    background-color: #000000;
}
.text{
	margin: 0;
}
.text-wrapper-block {
    transform: translate3d(0,0,0) rotate3d(1,0,0,.4deg);
}

.scenario-block {
    animation: text-scrolling 30s 1s infinite;
    user-select: none;
    font-size: 80px;
    color: gold;
    text-align: justify;
}

.scenario-header {
    text-transform: uppercase;
    font-size: 150px;
    text-align: center;
}

@keyframes text-scrolling {
    0% { transform: translate(0,750px);}
    100% { transform: translate(0,-2050px); }
}





